<!-- Graphique -->
<!-- Boutons de réponse -->
<div class="btn-group" role="group" ng-repeat="label in chartLabels track by $index">
  <button ng-click="send($index)" type="button" class="btn btn-default">{{ label }}</button>
</div>

<hr/>
<button class="btn btn-danger pull-right" ng-click="reset()">Reset poll</button>
<br/><br/>
<hr/>


<div class="container">
  <div class="col-md-6">
    <canvas id="chart1" class="chart chart-doughnut"
      chart-data="chartData"
      chart-labels="chartLabels"
      chart-legend="true"></canvas>
  </div>

  <div class="col-md-6">
    <canvas id="chart2" class="chart chart-pie"
      chart-data="chartData"
      chart-labels="chartLabels"
      chart-legend="true"></canvas>
  </div>
</div>
